<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingantong.main">

    <uses-permission android:name="android.permission.GET_TASKS" />


    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- JMessage Demo required for record audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name="com.quanjiakan.activity.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ******************************************************************************************************** -->
        <!-- common login -->
        <activity android:name="com.quanjiakan.activity.common.guide.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.quanjiakan.activity.common.guide.GuidePageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- ************************* -->

        <activity
            android:name="com.quanjiakan.activity.common.login.FindPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.login.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- ************************* -->

        <activity
            android:name="com.quanjiakan.activity.common.login.SigninActivity_mvp"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- ******************************************************************************************************** -->
        <!-- common business after login  -->

        <activity
            android:name="com.quanjiakan.activity.common.index.bind.BindStepOneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.index.bind.BindStepTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.index.bind.BindStateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.quanjiakan.activity.common.index.devices.WatchEntryActivity_child"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.index.devices.WatchEntryActivity_old"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- ******************************************************************************************************** -->
        <!-- common main_tab_item_setting -->

        <activity
            android:name="com.quanjiakan.activity.common.index.housekeeper.HouseKeeperListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.index.housekeeper.HouseKeeperDetailInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.index.housekeeper.HouseKeeperOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.pay.PaymentResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.quanjiakan.activity.common.index.healthinquiry.HealthInquiryCreateProblemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.index.healthinquiry.HealthInquirySendProblemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.index.healthinquiry.HealthInquiryCreatePatientInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.index.healthinquiry.HealthInquiryEditPatientInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.setting.healthinquiry.HealthInquiryFurtherAskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.setting.more.SettingMoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- ******************************************************************************************************** -->

        <activity
            android:name="com.quanjiakan.activity.common.setting.orders.housekeeper.HouseKeeperOrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- ******************************************************************************************************** -->
        <!-- common web -->

        <!-- ******************************************************************************************************** -->
        <!-- common main -->
        <activity
            android:name="com.quanjiakan.activity.common.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 图片查看放大等 -->
        <activity
            android:name="com.quanjiakan.activity.common.image.ImageViewerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.zxing.qrcode.BindDeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.quanjiakan.activity.common.web.CommonWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.quanjiakan.activity.common.web.CommonWebForBindChildActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.quanjiakan.activity.common.web.CommonWebForBindOldActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- ********************  微信支付  ************************************************************************************ -->

        <activity
            android:name="com.quanjiakan.watch.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <receiver
            android:name="com.quanjiakan.watch.wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- ************************************************ -->

        <activity
            android:name="com.pingantong.main.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <receiver
            android:name="com.pingantong.main.wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- ******************************************************************************************************** -->

        <service
            android:name="com.quanjiakan.service.DevicesService"
            android:enabled="true"
            android:exported="false" />


        <!-- ******************************************************************************************************** -->
        <!-- meta data  Umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59b790e8677baa7685000031" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Watch" />


        <!-- meta data  AMap
        debug:
        0892676546e2e34893a81908e174ee38  com.quanjiakan.watch
        release:
        b61007593f5d3d8cb494ea4e7759ea77  com.quanjiakan.watch

        release:
        9efbe9e742408fc4bc7407bd5ff0b4a1  com.pingantong.main
        -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9efbe9e742408fc4bc7407bd5ff0b4a1" />


    </application>

</manifest>